
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PiotrWojcik.Restaurant.Models;

<h3>Zamówienie dla @Session["table"] </h3>
<table class="table table-striped">
    <tr>
        <th>Opcje</th>
        <th>Id</th>
        <th>Nazwa Dania</th>
        <th>Cena</th>
        <th>Ilość</th>
        <th>Cena całkowita</th>
    </tr>
    @foreach (Item item in (List<Item>)Session[$"order{(int)Session["table"]}"])
    {
<tr>
    <td><a href="@Url.Action("Remove", "Order", new { id = item.Dish.Id })">Usuń Danie</a></td>
    <td>@item.Dish.Id</td>
    <td>@item.Dish.Name</td>
    <td>@item.Dish.Price</td>
    <td>@item.Quantity</td>
    <td>@(item.Dish.Price * item.Quantity )</td>
    
</tr>
    }
<tr>
    <td align="right" colspan="5">Suma</td>
    <td>
        @{
            List<Item> order = (List<Item>)Session[$"order{(int)Session["table"]}"];
            var total = order.Sum(item => item.Dish.Price * item.Quantity);
        }
        @total
        <br/>
        <a align="right" href="@Url.Action("Index", "Bill")">Zapłać</a>
    </td>
    

</tr>
</table>
<br>
<a href="@Url.Action("Index", "Dish")">Dodaj kolejne Dania</a>
<br />
<a href="@Url.Action("RemoveAllOrder", "Order")">Usuń zamówienie</a>
<br />
<a href="@Url.Action("Index", "Table")">Powrót do listy stolików</a>





